{{> header }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia animi exercitationem cupiditate voluptatibus nostrum corporis beatae minima mollitia expedita? Nobis suscipit cum dolore dolorem, sapiente excepturi reiciendis et nesciunt doloremque.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/Yo.png" alt="" class="img-thumbail" width="150px">
        </div>
    </div>

{{> footer }}